Repository openedx/edx-documentation, pull requests merged in 2021-06, with the labels that each got.

#1927 Update the documentation for Badgr integration
  en_us/install_operations/source/configuration/enable_badging.rst
Labels: awaiting prioritization, open-source-contribution

#1949 Remove references to "Enable Student-Generated Certificates" option in LMS instructor dashboard
  en_us/shared/student_progress/checking_student_progress.rst
Labels: awaiting prioritization, open-source-contribution

#1948 docs: add the native installation page to docs and reorganized installation index page
  en_us/install_operations/source/installation/devstack.rst
  en_us/install_operations/source/installation/index.rst
  en_us/install_operations/source/installation/native_installation.rst
  en_us/install_operations/source/installation/prerequisites.rst
  en_us/install_operations/source/platform_releases/ficus.rst
  en_us/install_operations/source/platform_releases/ginkgo.rst
  en_us/install_operations/source/platform_releases/hawthorn.rst
  en_us/install_operations/source/platform_releases/ironwood.rst
  en_us/install_operations/source/platform_releases/juniper.rst
  en_us/install_operations/source/platform_releases/koa.rst
  en_us/install_operations/source/platform_releases/lilac.rst
  en_us/links/links.rst
  en_us/open_edx_release_notes/source/koa.rst
Labels: engineering review, open-source-contribution

#1939 docs: Lilac release notes
  en_us/open_edx_release_notes/source/lilac.rst
  en_us/open_edx_release_notes/source/links.rst
Labels: changes requested, open-source-contribution

#1952 docs: Adds Tutor as a supported installation method
  en_us/install_operations/source/installation/devstack.rst
  en_us/install_operations/source/installation/index.rst
  en_us/install_operations/source/installation/native_installation.rst
  en_us/install_operations/source/installation/prerequisites.rst
  en_us/install_operations/source/installation/tutor.rst
  en_us/install_operations/source/platform_releases/koa.rst
  en_us/install_operations/source/platform_releases/lilac.rst
  en_us/links/links.rst
  en_us/open_edx_release_notes/source/koa.rst
Labels: changes requested, open-source-contribution
